<div class="main-wrapper">

  <!-- <nb-layout>

    <nb-layout-header>
      <a (click)="toggle()"><i class="fa fa-facebook"></i></a>
      <h1 class="text-white">home-money</h1>
    </nb-layout-header>

    <nb-sidebar></nb-sidebar>

    <nb-layout-column>
      <article class="content dashboard-page">
        <router-outlet></router-outlet>
      </article>
    </nb-layout-column>

  </nb-layout> -->

  <div class="app">

    <app-header></app-header>

    <app-sidebar></app-sidebar>

    <article class="content dashboard-page">
      <router-outlet></router-outlet>
    </article>
  </div>
</div>


